In [1]:
## Filter operations
#&,|,==
# ~ not

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|  Robert Jones| 45|      null|110000|
|    Amanda Lee| 26|         2| 50000|
|          null| 33|      null|  null|
|          null| 31|      null|  null|
+--------------+---+----------+------+

In [5]:
##filter operation using pyspark

In [11]:
df_pyspark.filter("Salary<=70000").select('Name','Experience').show()

+--------------+----------+
|          Name|Experience|
+--------------+----------+
|  Sara Johnson|         4|
|   Emily Brown|         1|
|Jennifer Davis|         3|
|    Amanda Lee|         2|
+--------------+----------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']<=70000)& (df_pyspark['Experience']>=3)).select('Name','Experience').show()

+--------------+----------+
|          Name|Experience|
+--------------+----------+
|  Sara Johnson|         4|
|Jennifer Davis|         3|
+--------------+----------+

In [16]:
df_pyspark.filter((df_pyspark['Salary']<=70000) |(df_pyspark['Experience']>=3)).select('Name','Experience').show()

+--------------+----------+
|          Name|Experience|
+--------------+----------+
|    John Smith|         6|
|  Sara Johnson|         4|
|   Michael Lee|        10|
|   Emily Brown|         1|
|    Daniel Kim|         8|
|Jennifer Davis|         3|
|    Amanda Lee|         2|
+--------------+----------+

In [17]:
df_pyspark.filter(~(df_pyspark['Salary']<=70000)).select('Name','Experience').show()

+------------+----------+
|        Name|Experience|
+------------+----------+
|  John Smith|         6|
| Michael Lee|        10|
|  Daniel Kim|         8|
|Robert Jones|      null|
+------------+----------+