In [7]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\lenovo\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [8]:
import pyspark

In [12]:
import pandas as pd
pd.read_csv('PySparkExampleExcel.csv')

     Name  Age
0  Vedant   23
1  Rugved   24
2   Rohan   22

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [3]:
spark

In [6]:
df_pyspark = spark.read.csv('PySparkExampleExcel.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|Vedant| 23|
|Rugved| 24|
| Rohan| 22|
+------+---+

In [23]:
df_pySpark = spark.read.option('header','true').csv('PySparkExampleExcel.csv')

In [24]:
df_pySpark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Vedant| 23|         2|
|Rugved| 24|         2|
| Rohan| 22|         2|
+------+---+----------+

In [17]:
type(df_pySpark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pySpark.head(3)

[Row(Name='Vedant', Age='23', Experience='2'),
 Row(Name='Rugved', Age='24', Experience='2'),
 Row(Name='Rohan', Age='22', Experience='2')]

In [26]:
df_pySpark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)