In [2]:
### Pyspark Handing Missing Values
#-Dropping Column
#-Dropping Rows
#-Various parameter IN Dropping functionalities
#-Handling missing values by Mean ,Median , mode

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [78]:
df = spark.read.csv('test2.csv',header=True,inferSchema=True)

In [17]:
#see table
df.show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|  Robert Jones| 45|      null|110000|
|    Amanda Lee| 26|         2| 50000|
|          null| 33|      null|  null|
|          null| 31|      null|  null|
+--------------+---+----------+------+

In [21]:
##dropping columns
df_pyspark = spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.drop('Age').show()

+--------------+----------+------+
|          Name|Experience|Salary|
+--------------+----------+------+
|    John Smith|         6| 75000|
|  Sara Johnson|         4| 65000|
|   Michael Lee|        10| 95000|
|   Emily Brown|         1| 45000|
|    Daniel Kim|         8| 85000|
|Jennifer Davis|         3| 60000|
|  Robert Jones|      null|110000|
|    Amanda Lee|         2| 50000|
|          null|      null|  null|
|          null|      null|  null|
+--------------+----------+------+

In [24]:
df_pyspark.show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|  Robert Jones| 45|      null|110000|
|    Amanda Lee| 26|         2| 50000|
|          null| 33|      null|  null|
|          null| 31|      null|  null|
+--------------+---+----------+------+

In [25]:
#drop records/rows with null values
df_pyspark.na.drop().show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|    Amanda Lee| 26|         2| 50000|
+--------------+---+----------+------+

In [27]:
##how==any or all...by defalut its any
df_pyspark.na.drop(how='any').show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|    Amanda Lee| 26|         2| 50000|
+--------------+---+----------+------+

In [39]:
##threshold  remove record if count of null if equal to given threshold number
df_pyspark.na.drop(how='all',thresh=1).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|  Robert Jones| 45|      null|110000|
|    Amanda Lee| 26|         2| 50000|
|          null| 33|      null|  null|
|          null| 31|      null|  null|
+--------------+---+----------+------+

In [83]:
##subset
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|    John Smith| 32|         6| 75000|
|  Sara Johnson| 28|         4| 65000|
|   Michael Lee| 41|        10| 95000|
|   Emily Brown| 23|         1| 45000|
|    Daniel Kim| 37|         8| 85000|
|Jennifer Davis| 29|         3| 60000|
|    Amanda Lee| 26|         2| 50000|
+--------------+---+----------+------+

In [84]:
##fill missing value  we will 
df.na.fill({"Experience":'Missing', "Salary":'Missing'}).show()

+--------------+---+----------+-------+
|          Name|Age|Experience| Salary|
+--------------+---+----------+-------+
|    John Smith| 32|         6|  75000|
|  Sara Johnson| 28|         4|  65000|
|   Michael Lee| 41|        10|  95000|
|   Emily Brown| 23|         1|  45000|
|    Daniel Kim| 37|         8|  85000|
|Jennifer Davis| 29|         3|  60000|
|  Robert Jones| 45|   Missing| 110000|
|    Amanda Lee| 26|         2|  50000|
|          null| 33|   Missing|Missing|
|          null| 31|   Missing|Missing|
+--------------+---+----------+-------+

In [100]:
##imputer function

from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputered".format(c) for c in ['Age','Experience','Salary']],
    strategy='median'
)

In [101]:
##add imputed cols to df
imputer.fit(df_spark).transform(df_pyspark).show()

+--------------+---+----------+------+-------------+--------------------+----------------+
|          Name|Age|Experience|Salary|Age_imputered|Experience_imputered|Salary_imputered|
+--------------+---+----------+------+-------------+--------------------+----------------+
|    John Smith| 32|         6| 75000|           32|                   6|           75000|
|  Sara Johnson| 28|         4| 65000|           28|                   4|           65000|
|   Michael Lee| 41|        10| 95000|           41|                  10|           95000|
|   Emily Brown| 23|         1| 45000|           23|                   1|           45000|
|    Daniel Kim| 37|         8| 85000|           37|                   8|           85000|
|Jennifer Davis| 29|         3| 60000|           29|                   3|           60000|
|  Robert Jones| 45|      null|110000|           45|                   4|          110000|
|    Amanda Lee| 26|         2| 50000|           26|                   2|           50000|
|          null| 33|      null|  null|           33|                   4|           65000|
|          null| 31|      null|  null|           31|                   4|           65000|
+--------------+---+----------+------+-------------+--------------------+----------------+