In [9]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.appName("Dataframe_Practice").getOrCreate()

In [12]:
spark

In [21]:
##Read dataset
df_pyspark = spark.read.option('header','true').csv('PySparkExampleExcel.csv',inferSchema=True)

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [23]:
df_pyspark = spark.read.csv('PySparkExampleExcel.csv',header=True,inferSchema=True)

In [27]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int]

In [28]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Vedant| 23|         2|
|Rugved| 24|         2|
| Rohan| 22|         2|
+------+---+----------+

In [31]:
df_pyspark.head(3)

[Row(Name='Vedant', Age=23, Experience=2),
 Row(Name='Rugved', Age=24, Experience=2),
 Row(Name='Rohan', Age=22, Experience=2)]

In [37]:
df_pyspark.select('Name','Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
|Vedant|         2|
|Rugved|         2|
| Rohan|         2|
+------+----------+

In [36]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.select('Name').head(2)

[Row(Name='Vedant'), Row(Name='Rugved')]

In [43]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [45]:
df_pyspark.describe().show()

+-------+------+----+----------+
|summary|  Name| Age|Experience|
+-------+------+----+----------+
|  count|     3|   3|         3|
|   mean|  null|23.0|       2.0|
| stddev|  null| 1.0|       0.0|
|    min| Rohan|  22|         2|
|    max|Vedant|  24|         2|
+-------+------+----+----------+

In [65]:
df_pyspark.withColumn('Experience1',df_pyspark['Experience']+2).show()

+------+---+----------+-----------+
|  Name|Age|Experience|Experience1|
+------+---+----------+-----------+
|Vedant| 23|         2|          4|
|Rugved| 24|         2|          4|
| Rohan| 22|         2|          4|
+------+---+----------+-----------+

In [66]:
df_pyspark.drop('Experience1')

DataFrame[Name: string, Age: int, Experience: int]

In [67]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Vedant| 23|         2|
|Rugved| 24|         2|
| Rohan| 22|         2|
+------+---+----------+

In [ ]:
###rename the columns
df_pyspark