In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Aggregate functions').getOrCreate()

In [3]:
spark

In [5]:
df = spark.read.csv('test3.csv',header=True,inferSchema=True)

In [6]:
df.show()

+--------+------------------+------+
|    Name|        Department|Salary|
+--------+------------------+------+
|    John|         Marketing| 50000|
|   Sarah|                HR| 60000|
| Michael|       Engineering| 75000|
|   Emily|           Finance| 55000|
|  Robert|                IT| 80000|
|Jennifer|             Sales| 65000|
|   David|        Operations| 70000|
|Samantha|          Research| 60000|
| William|Product Management| 85000|
|   Karen|  Customer Service| 50000|
+--------+------------------+------+

In [7]:
df.printSchema

In [8]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
##Group By
df.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Samantha|      60000|
|Jennifer|      65000|
| Michael|      75000|
|   Sarah|      60000|
|    John|      50000|
|   Emily|      55000|
|   David|      70000|
|  Robert|      80000|
|   Karen|      50000|
| William|      85000|
+--------+-----------+

In [13]:
##group by department wuth maximum salary
df.groupBy('Department').sum()

DataFrame[Department: string, sum(Salary): bigint]

In [14]:
df.groupBy('Department').mean().show()

+------------------+-----------+
|        Department|avg(Salary)|
+------------------+-----------+
|Product Management|    85000.0|
|             Sales|    65000.0|
|       Engineering|    75000.0|
|                HR|    60000.0|
|           Finance|    55000.0|
|          Research|    60000.0|
|  Customer Service|    50000.0|
|         Marketing|    50000.0|
|                IT|    80000.0|
|        Operations|    70000.0|
+------------------+-----------+

In [15]:
df.groupBy('Department').count().show()

+------------------+-----+
|        Department|count|
+------------------+-----+
|Product Management|    1|
|             Sales|    1|
|       Engineering|    1|
|                HR|    1|
|           Finance|    1|
|          Research|    1|
|  Customer Service|    1|
|         Marketing|    1|
|                IT|    1|
|        Operations|    1|
+------------------+-----+

In [17]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     650000|
+-----------+

In [20]:
df.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|Samantha|      60000|
|Jennifer|      65000|
| Michael|      75000|
|   Sarah|      60000|
|    John|      50000|
|   Emily|      55000|
|   David|      70000|
|  Robert|      80000|
|   Karen|      50000|
| William|      85000|
+--------+-----------+

In [22]:
df.groupBy("Department").min().show()

+------------------+-----------+
|        Department|min(Salary)|
+------------------+-----------+
|Product Management|      85000|
|             Sales|      65000|
|       Engineering|      75000|
|                HR|      60000|
|           Finance|      55000|
|          Research|      60000|
|  Customer Service|      50000|
|         Marketing|      50000|
|                IT|      80000|
|        Operations|      70000|
+------------------+-----------+